body {
    height: 100vh;
    background-color: rgba(39, 4, 113, 0.815);
}

header {
    margin-inline: auto;
    max-width: var(--max-width);
    height: 50px;
    /* background-color: red; */
    margin-top: 10px;
    padding-inline: 1.5rem;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    padding: 10px 0px;
    border-radius: 30px;
    /* background-color: #2580a715; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.62);
}

.left a {
    text-decoration: none;
    color: #000;
}

.right {
    background-color: teal;
    height: 100%;
    border-radius: 30px;
    padding-inline: 1.3rem;
}

.right a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    text-decoration: none;
}

.right-first {
    width: 24px;
    height: 24px;
}

.right-first img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 2px 6px rgb(45, 44, 44));
}

.right-second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-right-first-text {
    font-size: 14px;
}

.nav-right-second-text {
    font-size: 10px;

}